{{define "todo"}}
<div id="todo-{{.ID}}" class="relative group w-full flex justify-start items-center text-black bg-slate-200 hover:bg-slate-300 rounded-md px-8 py-4 transition">
  <div name="content" class="w-full max-h-[200px] overflow-x-hidden overflow-y-auto">{{.Content}}</div>
  <div class="absolute top-1 right-1 transition opacity-0 group-hover:opacity-100">
    <button hx-get="/todo/{{.ID}}?edit=true" hx-target="#todo-{{.ID}}" hx-swap="outerHTML" class="text-yellow-500">
      {{template "icon-edit"}}
    </button>
    <button hx-delete="/todo/{{.ID}}" hx-target="#todo-{{.ID}}" hx-swap="outerHTML" class="text-red-500">
      {{template "icon-delete"}}
    </button>
  </div>
</div>
{{end}}
